.header {
    width: calc(100% - $sidebar-width); // для того чтоб шапка встала по ширине экрана, где уже есть сайдбар = 300px, также можно записать (100% - #{$sidebar-width})
    height: 30px;

    background-color: #ccc;

    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-header;
}